In [9]:
#Understanding the variables in python

In [10]:
x=5

In [11]:
y=3

In [12]:
x+y

8

In [13]:
#variables are value holders

In [15]:
#Rules for Declaring Variables

#1. no name spaces while declaring the variable name 
#examples:

In [16]:
first name = "faiyaz"   #this is invalid
print(first name)

SyntaxError: invalid syntax (<ipython-input-16-a3078bf4adc3>, line 1)

In [17]:
first_name= "faiyaz"      #this is valid
print(first_name)

faiyaz

In [18]:
firstname="faiyaz"        #this is valid
print(firstname)

faiyaz

In [19]:
#2. you should not start a variable with a number 
#Examples:

In [20]:
1name=("ashok")            #this is invalid
print(1name)

SyntaxError: invalid syntax (<ipython-input-20-686eb47fe24e>, line 1)

In [21]:
name1="ashok"              #this is valid
print(name1)

ashok

In [23]:
#3.you should not use any special characters in the variables
#special characters like ------> @,$,&....... etc
#examples:

In [24]:
@name="kishor"             #this is invalid 
print(@name)

SyntaxError: invalid syntax (<ipython-input-24-e4e691444ebd>, line 1)

In [26]:
name=("kishor")          #this is valid 
print(name)

kishor

In [32]:
# Introduction to data types in python 
#5 major data types -----

#1.string 
#2.integers
#3.list
#4.tuple
#5.dictionaries

In [ ]:
#classification of Data types
#data types are classified in 2 categories
#1.Mutable data type --- we can be able to modify,alter or change the data once it is assigned
#2.Immutable data type ---we cannot be able to modify,alter or change the data once it is assigned

In [28]:
#python is case sensitive language

In [29]:
#Introdution to string data type ---- str
#String is nothing but a series of characters enclosed in quotes.
#It is a immmutable data type

In [30]:
#How to define a string -----> 3 possible ways 

single quotes
double quotes
triples quotes

#examples:

In [33]:
name='rahul'
print(name)

rahul

In [34]:
name1="faiyaz"
print(name1)

faiyaz

In [35]:
name2="""santhosh"""
print(name2)

santhosh

In [36]:
#Builtin methods of a String

In [37]:
type(name)

str

In [38]:
type(name1)

str

In [39]:
type(name2)

str

In [42]:
full_name='shainedra kumar'
print(full_name)

shainedra kumar

In [44]:
#enhancement of the code.

In [46]:
print(full_name.title())   #titlecase method

Shainedra Kumar

In [47]:
print(full_name.upper())    #upper casee

SHAINEDRA KUMAR

In [48]:
print(full_name.lower())   #lower case

shainedra kumar