In [1]:
#introduction to organzing the lists

In [3]:
students= ['harish','ram','anjali','karthika','naveen','suresh','vandana','samia']

In [4]:
print(students)

['harish', 'ram', 'anjali', 'karthika', 'naveen', 'suresh', 'vandana', 'samia']

In [5]:
#arrange the lists of students in an alphabetical order

In [6]:
#temporary way ----> sorted

In [7]:
#permenant way -----> sort

In [8]:
print(sorted(students))  # temporary way

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [9]:
print(students)   # original list order

['harish', 'ram', 'anjali', 'karthika', 'naveen', 'suresh', 'vandana', 'samia']

In [10]:
students.sort() # permenant way

In [11]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [12]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [14]:
#we can know the count by using the len method 

len(students)

8

In [15]:
#introduction to if-else conditions

# if name is vandana---> total capitals--->

# all other name i want to get it printed in title case

In [44]:
for x in students:
    if x == 'vandana':
        print(x.upper())
    else:
        print(x.title())

Anjali
Harish
Karthika
Naveen
Ram
Samia
Suresh
VANDANA

In [21]:
 # introduction to slicing of lists

In [22]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [ ]:
#i wanted to make 2 students of each group

In [27]:
#general syntax of a slicing-----

#variable[startvalue:stopvalue:stepcount]

#always last value is exclusive

In [28]:
print(students[0:2])

['anjali', 'harish']

In [29]:
print(students[2:4])

['karthika', 'naveen']

In [30]:
print(students[4:6])

['ram', 'samia']

In [31]:
print(students[6:8])

['suresh', 'vandana']

In [36]:
#requirement : i want to create a slice ...

In [37]:
print(students[0:8:2])  #every alternate student starting from the beginning

['anjali', 'karthika', 'ram', 'suresh']

In [38]:
#introduction to negative indexing!.......

In [39]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [40]:
print(students[7])

vandana

In [ ]:
#-1,-2,-3.......

In [41]:
print(students[-1])

vandana

In [42]:
print(students[-2])

suresh

In [46]:
# how to reverse a list by using indexing.....

In [47]:
print(students)

['anjali', 'harish', 'karthika', 'naveen', 'ram', 'samia', 'suresh', 'vandana']

In [49]:
print(students[::-1])   #by using indexing!

['vandana', 'suresh', 'samia', 'ram', 'naveen', 'karthika', 'harish', 'anjali']